@import "../../../src/variables.scss";
.container {
  background-color: $background-light-grey;
  width: auto;

  > * > * {
    margin-bottom: $margin-s;
  }

  p {
    display: inherit;
  }
}

.subtitle {
  font-size: $font-size-xl;
  font-weight: 600;
  margin: $margin-m 0;
  font-family: inherit;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
}
