@import "../../variables.scss";

.container {
  background-color: $background-light-grey;
  width: auto;
  min-height: 600px;

  > * > * {
    margin-bottom: $margin-s;
  }
}

.subtitle {
  font-size: $font-size-xl;
  font-weight: 600;
  margin: $margin-m 0;
  font-family: inherit;
}

.tableContainer {
  display: block;
  max-width: 100%;
  overflow-y: hidden;

  table {
    width: 100%;
  }

  td {
    text-align: center;
    vertical-align: middle;
    &.teams {
      text-align: start;
      width: 15%;
    }
  }
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.dropdownLabel {
  padding-right: 12px;
  font-style: italic;
}

.dropdown {
  width: 100px;
}

.finalResult {
  font-size: $font-size-xl;
  font-weight: bolder;
}

.teamSum {
  font-size: 1.325rem;
  font-weight: bold;
}

.teamSetSum {
  font-size: $font-size-l;
  font-weight: 500;
}
