@import "../../variables.scss";

.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: bgFadeIn;
  animation-duration: 0.25s;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

@keyframes bgFadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: $padding-m;
  border-radius: 15px;
  z-index: 1001;
  width: fit-content;
  max-height: 90%;

  @media (max-width: $screen-size-m) {
    width: 300px;
    top: 40%;
  }

  @media (max-width: $screen-size-xs) {
    width: 250px;
    top: 50%;
  }

  &.wide {
    width: max-content;
    max-width: 90%;

    @media (max-width: $screen-size-m) {
      width: 300px;
    }

    @media (max-width: $screen-size-xs) {
      width: 200px;
    }
  }

  &.pdf {
    width: 70%;
    height: 70%;

    @media (max-width: $screen-size-m) {
      width: 300px;
    }

    @media (max-width: $screen-size-xs) {
      width: 200px;
    }
  }

  &.img {
    width: 400px;
    height: auto;
    max-width: fit-content;
    max-height: fit-content;
    object-fit: contain;

    @media (max-width: $screen-size-m) {
      width: 300px;
      height: auto;
    }

    @media (max-width: $screen-size-xs) {
      width: 200px;
      height: auto;
    }
  }

  &.success {
    width: max-content;
    max-width: 90%;

    @media (max-width: $screen-size-m) {
      width: 300px;
    }

    @media (max-width: $screen-size-xs) {
      width: 200px;
    }
  }

  .closeIcon {
    position: absolute;
    cursor: pointer;
    top: -12px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    color: $blue;
    background-color: $white;
    border: 1px solid $grey-lightest;

    &:hover {
      background-color: $orange;
      color: $white;
      border: 1px solid $orange;
    }
  }

  .buttonContainer {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .submitButton {
    cursor: pointer;
    background-color: $orange-dark;
    border: 1px solid $grey-lightest;
    width: fit-content;
    height: 32px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: inherit;
    color: $white;
  }

  .cancelButton {
    cursor: pointer;
    background-color: $grey-lightest;
    border: 1px solid $grey-lighter;
    width: fit-content;
    height: 32px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: inherit;
    color: $black;
  }
}
